/* I'll be making a 3 by 4 square grid */

body{
    background-color: #5e7eb5;
}

img{
    width: 100%;
    height: auto;
}

.mind-game-dimensions{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: auto;
    width: 100%;
    grid-gap: 2rem;
    align-items: center;
    justify-content: center;
}

h1{
    color:aquamarine;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.title {
    font-size: 6rem;
}

.center{
    max-width: 30rem;
    margin-left: auto;
    margin-right: auto;
}

.width-lg{
    max-width: 60rem;
}

.result{
    font-size: 4rem;
}


/*
#circles {
    background-color: rgba(33, 134, 160, 0.753);
    border-radius: 50%;
}
*/