/* I'll be making a 3 by 4 square grid */

.mind-game-dimensions{
    display: flex;
    flex-direction: reverse-row;
    height: auto;
    width: 10%;
    max-width: 300px;
    margin: 2rem;
    gap: 2rem;
}


/*
#circles {
    background-color: rgba(33, 134, 160, 0.753);
    border-radius: 50%;
}
*/